/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Merriweather', serif;
}

body {
    overflow-x: hidden !important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}

/*
    Fullpage.js
*/

.Home .fp-controlArrow {
    display: none;
}

/*
    Global
*/

header nav {
  padding-top: 5vh;
  height: 40px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.Link__internal + .Link__internal {
    padding-left: 12px;
}

.Link__internal {
    color: white;
    text-decoration: none;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
}

.Link__internal:hover {
    opacity: 0.5;
}

.Link__internal.active {
    color: #5A71FF;
}

.nav-up {
  top: calc(-40px - 5vh);
}

.Links {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: flex-end;
    z-index: 100;

    padding-left: 3vw;
    right: 3vw;
    bottom: 5vh;
}

.Fullscreen {
    width: 100vw;
    height: 100vh;
}

.Screen {
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    grid-template-rows: 20vh 13.3vh 16.7vh 16.7vh 13.3vh 20vh;
}

.Subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
    align-self: end;

    font-size: calc( 18px + (26 - 18)*(100vw - 400px)/(1920 - 400) );
    padding-left: 3vw;
}

.Title, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;

    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 6;

    font-size: calc( 48px + (144 - 48)*(100vw - 400px)/(1920 - 400) );
    align-self: center;
    padding-left: 3vw;
    padding-bottom: 5vh;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: calc( 0px + (2.1 - 0)*(100vw - 400px)/(1920 - 400) );
    color: #4a4a4a;
    line-height: normal;

    font-size: calc( 24px + (58 - 24)*(100vw - 400px)/(1920 - 400) );
}


/*
    Home
*/

.Credentials {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: #5A71FF;
}

.Project {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;

    background-color: #ada9a1;
}

.Project__Grid {
    display: grid;
    grid-template-columns: repeat(6, 12.5vw);
    grid-template-rows: 20vh 13.3vh 16.7vh 16.7vh;
}

.Project__background,
.Step__background,
.About__background,
.Transition__background {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: inherit;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Project__background--1 {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ), url('http://placekitten.com/g/1920/1080') ;
}
.Project__background--2 {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ), url('http://placekitten.com/g/1080/720');
}

.GoToProject {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 5vh 3vw;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: #4a4a4a;
}

.DiscoverProject {
    flex: 1;

    font-family: Merriweather;
    font-size: 30px;
    line-height: 2.2;
    letter-spacing: 1.3px;
    color: #4a4a4a;
}

.GoToProject .Arrow {
    height: 70%;
    min-height: 14px;
    width: auto;
}

.Home .fp-slidesNav {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

.Home .fp-slidesNav ul li a span {
    background: white;
}

.Icon {
    width: 48px;
    height: 48px;
    border: solid 1px #979797;
    border-radius: 50%;

    color: #4a4a4a;
    font-size: 20px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Icon + .Icon {
    margin-top: 10px;
}


/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .DiscoverProject {
        display: none;
    }

    .GoToProject {
        justify-content: center;
    }
}

/*
    About
*/

.About__background {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;

    background-image: url('http://placekitten.com/g/600/600');
}

.About .EmptySpace {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;

    background-color: #5a71ff;
}

.Description {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Resume {
    align-self: flex-start;

    border-radius: 45px;
    border: solid 1px #303346;
    padding: 2.5vh 1.5vw;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3.5px;
    color: #303346;
    cursor: pointer;
    text-align: center;

    transition: all 0.3s ease-in-out;
}

.Resume:hover {
    background-color: #303346;
    color: white;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .Description {
        grid-column-start: 1;
        padding-left: 3vw;
    }
}


/*
    Transition
*/

.Transition__background {
    background-image: linear-gradient(
      rgba(229, 234, 235, 0.5),
      rgba(229, 234, 235, 0.5)
    ), url('http://placekitten.com/g/3000/2000');
}

.Transition .EmptySpace {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;

    background-color: #5a71ff;
}

.Transition__text {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 5;
    align-self: center;

    color: white;
    letter-spacing: 1.3px;
    line-height: 2.2;
    font-size: calc( 14px + (28 - 14)*(100vw - 400px)/(1920 - 400) );
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .Transition .EmptySpace {
        display: none;
    }

    .Transition__text {
        grid-column-start: 2;
    }
}

/*
    Process
*/

.Process .EmptySection {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;

    background-color: white;
    z-index: 10;
}

.Pagination {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: #5a71ff;
    color: white;
    font-size: 48px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Page {
    padding-right: 1vw;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


.Page .TotalPages {
    opacity: .5;
}


.Arrow {
    cursor: pointer;
}

.Arrow--leftWrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    text-align: right;
}

.Arrow--left {
    margin-top: 1vh;
    margin-right: 1vw;
    height: auto;
    width: 50%;
}

.Arrow--rightWrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    text-align: left;
}

.Arrow--right {
    margin-top: 1vh;
    margin-left: 1vw;
    height: auto;
    width: 50%;
}

.Process .fp-controlArrow.fp-prev, .Faq .fp-controlArrow.fp-prev {
    display: none;
}

.Process .fp-controlArrow.fp-next, .Faq .fp-controlArrow.fp-next {
    display: none;
}

.Process .fp-slidesNav, .Faq .fp-slidesNav {
    display: none;
}

.Steps {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 7;
}

.StepGrid {
    display: grid;
    grid-template-columns: repeat(3, 12.5vw);
    grid-template-rows: 20vh 13.3vh 16.7vh 16.7vh 13.3vh 20vh;
}

.Step {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 18px;
    color: #303346;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2vw;
}

.StepTitle {
    position: relative;
}

.StepTitle:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 4px;
    background-color: #303346;
}

.StepContent {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.StepContent ul {
    padding-left: 1em;
    margin: 0;

    font-size: 24px;
    line-height: 1.83;
    letter-spacing: 1.3px;
}

.SmallPicture__wrapper {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;

    z-index: 10;
}

.SmallPicture {
    height: 33.3vh;
    width: 12.5vw;
}

.SmallPicture--step1 {
    background-image: url('http://placekitten.com/g/240/360');
}

.SmallPicture--step2 {
    background-image: url('http://placekitten.com/g/360/360');
}

.SmallPicture--step3 {
    background-image: url('http://placekitten.com/g/400/500');
}

.SmallPicture--step4 {
    background-image: url('http://placekitten.com/g/500/600');
}

.SmallPicture--step5 {
    background-image: url('http://placekitten.com/g/600/700');
}

.LargePicture__wrapper {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;

    z-index: 10;
}

.LargePicture {
    height: 66.4vh;
    width: 25vw;
}

.LargePicture--step1 {
    height: 66.4vh;
    width: 25vw;
    background-image: url('http://placekitten.com/g/240/360');
}

.LargePicture--step2 {
    background-image: url('http://placekitten.com/g/360/360');
}

.LargePicture--step3 {
    background-image: url('http://placekitten.com/g/700/800');
}

.LargePicture--step4 {
    background-image: url('http://placekitten.com/g/800/900');
}

.LargePicture--step5 {
    background-image: url('http://placekitten.com/g/900/1000');
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .Step {
        grid-column-start: 1;
    }

    .StepContent {
        grid-column-start: 1;
    }
}


/*
    Articles
*/

.Article {
    padding-left: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Article--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Article--2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}

.Article__category {
    font-family: Lato;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 3.5px;
    color: #303346;
}

.Article__title {
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5a71ff;
}

.Article__date {
    font-family: Lato;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.5px;
    color: #303346;
}

.ReadAll {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: white;
    border: solid 1px #979797;
    display: flex;
    justify-content: center;
    align-content: space-between;
    text-decoration: none;

    padding: 5vh 3vw;
}

.ReadAll__text {
    flex: 1;
    font-family: Lustria;
    font-size: 24px;
    letter-spacing: 1.3px;
    color: #4a4a4a;
    align-self: center;
}

.ReadAll .Arrow {
    height: 100%;
    min-height: 14px;
    width: auto;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .ReadAll {
        grid-column-end: 9;
        margin-right: 3vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .ReadAll .Arrow {
        height: 90%;
        min-height: 14px;
        width: auto;
    }
}

/*
    Testimonials
*/

.Quote__wrapper {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;

    background-color: #5a71ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Logo__wrapper {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;

    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Testimonials .Quote {
    padding-right: 25%;
    padding-left: 3vw;

    color: white;
    font-size: 30px;

    line-height: 2.2;
}

.Testimonials .Client {
    color: #4a4a4a;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 3.5px;

    padding-top: 5vh;
    padding-left: 3vw;
}

.Testimonials .Client span {
    position: relative;
}

.Testimonials .Client span:after {
    content: '';
    width: 40%;
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 4px;
    background-color: #303346;
}

.Testimonials .Logo img {
    max-height: 30vh;
    width: auto;
}

.Testimonials__slider {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;

    display: grid;
    grid-template-columns: repeat(4, 12.5vw);
    grid-template-rows: 13.3vh;
}

.Testimonial__logo--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    background-color: #5a71ff;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .Quote__wrapper {
        grid-column-end: 7;
    }

    .Logo__wrapper {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .Testimonials .Logo img {
        max-height: 15vh;
        width: auto;
    }
}

/*
    Faq
*/

.Questions {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
}

.QuestionGrid {
    display: grid;
    grid-template-columns: repeat(5, 12.5vw);
    grid-template-rows: 20vh 13.3vh 16.7vh 16.7vh 13.3vh 20vh;
}

.QuestionTitle {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    border-top: solid 3px #5a71ff;

    font-family: Merriweather;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: 1.3px;
}

.QuestionContent {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;

    overflow-y: scroll;
    font-family: Merriweather;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: 1.3px;
    color: #4a4a4a;

    --last-row-height: 20vh;
}

.QuestionContent p {
    padding-bottom: var(--last-row-height);
}

.QuestionContent:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--last-row-height);
    width: 100%;
    background: -webkit-linear-gradient(rgba(255, 255,255, .4), rgba(255, 255, 255, 1));
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .Questions {
        grid-column-start: 3;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .QuestionTitle {
        grid-column-end: 6;
    }

    .QuestionContent {
        grid-column-end: 6;
        grid-row-end: 5;
    }

    .QuestionContent p {
        padding-bottom: 5vh;
    }

    .QuestionContent:after {
        height: 5vh;
    }
}
