---
title: Alexa GUÉGUEN - Portfolio UX Designer - Alkemics Hosted Product Page
permalink: alkemics-hpp.html
---

<!doctype html>
<html class="no-js" lang="">
    {% include head.html title="Alexa GUÉGUEN - Portfolio UX Designer - Alkemics Hosted Product Page" %}
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div id="fullpage" class="CaseStudy AlkemicsHPP">
            <!-- Screen 1 - Hero -->
            <div data-anchor="hero" class="Fullscreen section">
                <div class="Screen Hero">
                    <div class="Half Half--left">
                        <h1 class="h1-Black">Send data in real-time</h1>
                        <p>
                            With the HPP (Hosted Product Page) all brands can send mandatory product data or any marketing content automatically on e-commerce websites, so retailers don’t break the European law ever again. And everybody is happy, including the end-consumer! 👏
                        </p>
                        <p class="AlkemicsCustomers ">
                            Alkemics customers using the solution
                        </p>
                        <img src="img/Projects/Alkemics-HPP/logos-customers.png"
                        class="AlkemicsCustomers__Background" />
                    </div>
                    <div class="Half Half--right HeroPicture__wrapper HeroPicture--Alkemics">
                        <!-- <img class="HeroPicture" src="img/Projects/HeroPicture--Alkemics.png"> -->
                    </div>
                </div>
            </div>

            <!-- Screen 2 - Role -->
            <div data-anchor="role" class="Fullscreen section">
                <div class="Screen Role">
                    <div class="Half Half--left">
                        <p>My role in the project</p>
                        <h3 class="h3-Black">Lead the design.<br/>Bring back business.</h3>
                        <p>
                            I was commissioned by the CEO to answer a serious and recurring problem for AuchanDrive: the non-compliance of the product data. From research to launch, I led the project following the design sprint methodology.
                        </p>
                        <img class="HighlightPicture" src="img/Projects/Alkemics-HPP/HPP_Role_HighlightPicture.jpg">
                        <p>
                            Cabot Trail, NS, Canada 2017
                        </p>
                    </div>
                    <div class="Half Half--right Half--rightWithMargin ProjectSummary">
                        <div><i class="mdi mdi-clock"></i>&nbsp;5 days</div>
                        <div><i class="mdi mdi-desktop-mac"></i>&nbsp;Desktop + Mobile</div>
                        <div><i class="mdi mdi-calendar-remove"></i>&nbsp;April 2015</div>
                        <hr/>
                        <div><i class="mdi mdi-briefcase-outline"></i>&nbsp;1&nbsp;Brand Manager</div>
                        <div><i class="mdi mdi-code-tags"></i>&nbsp;1&nbsp;Fullstack Developer</div>
                        <div><i class="mdi mdi-sitemap"></i>&nbsp;1&nbsp;Designer (me)</div>
                    </div>
                </div>
            </div>
            <!-- Screen 3 - Kickoff -->
            <div data-anchor="kickoff" class="Fullscreen section">
                <div class="Screen Kickoff">
                    <div class="Half Half--left">
                        <p>Kickoff</p>
                        <h3 class="h3-White">The data exchange process doesn’t fit</h3>
                        <p>
                            As a sharing and managing data platform, it was key to quickly find a solution for all our users.
                        </p>
                        <p>
                            Here are the 3 challenges we were facing:
                        </p>
                        <ol>
                            <li>Technically help retailers to display data on the e-commerce website front</li>
                            <li>Encourage brands to add more product data on the platform by bringing them more value</li>
                            <li>Restore trust by making important information available for the end-consumer</li>
                        </ol>
                        <!-- <p class="PainPointLegend">
                            Pain point: Data not received, lost, outdated.
                        </p> -->
                    </div>
                    <div class="Half Half--right HeroPicture__wrapper HeroPicture--DataScheme"></div>
                    <p class="HeroPicture--DataScheme__legend">
                        C = end-consumers ; R = retailers ; B = brands ; A= alkemics
                    </p>
                </div>
            </div>
            <!-- Screen 4 - Interview -->
            <div data-anchor="interview" class="Fullscreen section">
                <div class="Screen Interview">
                    <div class="Top Top--small Center Center--narrow">
                        <p>Expert interviews</p>
                        <h3 class="h3-Black">Bring value for every stakeholders</h3>
                        <h5 class="h5-Black">
                            Every stakeholders had crucial pain points. Here are their expectations.
                        </h5>
                    </div>
                    <div class="Bottom Center Expectations">
                        <div class="Expectation">
                            <p class="CircleBackground Paragraph-Black-Bold">Retailers</p>
                            <p>Retrieve product data automatically in order to be compliant with the european regulation (INCO 1169).</p>
                        </div>
                        <div class="Expectation">
                            <p class="CircleBackground Paragraph-Black-Bold">Brands</p>
                            <p>Display marketing data like never before, and extend the brand experience on retailer e-commerce websites.</p>
                        </div>
                        <div class="Expectation">
                            <p class="CircleBackground Paragraph-Black-Bold">End-consumers</p>
                            <p>Access to the important information about the products and be confident with the purshase online.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Screen 5 - Benchmark -->
            <div data-anchor="benchmark" class="Fullscreen section">
                <div class="Screen Benchmark">
                    <div class="TweetImage TweetBackground">
                        <!-- <img src="/img/Projects/Alkemics-HPP/Tweet.png"> -->
                    </div>
                    <div class="TweetText">
                        <p class="Paragraph-Black-Bold">Tweet</p>
                        <p>Explain the concept with few characters. Here is an example of what we could tweet.</p>
                    </div>
                    <div class="BenchmarkingText">
                        <p class="Paragraph-Black-Bold">Benchmarking</p>
                        <p>
                            Screenshots of product pages of main French retailers websites in 2015.
                            <br/>
                            <br/>
                            Main pain points were the lack of data, the lisibility, the information architecture.
                        </p>
                    </div>
                    <div class="BenchmarkingBackground">
                        <!-- <img src="/img/Projects/Alkemics-HPP/Tweet.png"> -->
                    </div>
                </div>
            </div>
            <!-- Screen 6 - UserJourneys -->
            <div data-anchor="user-journeys" class="Fullscreen section">
                <div class="Screen UserJourneys">
                    <div class="Half Half--left">
                        <p>User journeys</p>
                        <h3 class="h3-Black">Put ourselves in users shoes.</h3>
                        <p>
                            My goal was to create a valuable experience for everyone, especially for our users: retailers and brands.
                            <br/>
                            Here are the pain points we highlighted then solved.
                        </p>
                        <div class="UserJourney__User">
                            <div data-slick-index="0">As a retailer...</div>
                            <div data-slick-index="1">As a brand...</div>
                            <div data-slick-index="2">As an end-consumer...</div>
                        </div>
                    </div>
                    <div class="PostIts">
                        <div data-slick-index="0">
                            <div class="PostIt">
                                <p class="PostItNumber">1</p>
                                <p class="Paragraph-Black-Bold PostItText">I received a list of fines linked to non-compliant product displayed on my e-commerce website, and I’m not happy!</p>
                            </div>
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">2</p>
                                <p class="Paragraph-Black-Bold PostItText">I upload this list in a spreadsheet with all the codebars and the brands associated to each product</p>
                            </div>
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">3</p>
                                <p class="Paragraph-Black-Bold PostItText">I sort the products by brand name, to be able to contact the category manager, and command him to update the data</p>
                            </div>
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">4</p>
                                <p class="Paragraph-Black-Bold PostItText">I threaten him/her to remove the brand from my assortment</p>
                            </div>
                        </div>
                        <div data-slick-index="1">
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">1</p>
                                <p class="Paragraph-Black-Bold PostItText">I receive the retailer email and I’m surprised, stressed or angry because I already sent an excel file with all the data </p>
                            </div>
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">2</p>
                                <p class="Paragraph-Black-Bold PostItText">I don’t understand why it doesn’t work, and why I sould do this twice on a platform called Alkemics…</p>
                            </div>
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">3</p>
                                <p class="Paragraph-Black-Bold PostItText">I send again the data by email or I create an account on Alkemics with a lot of frustration and with no desire to stay</p>
                            </div>
                        </div>
                        <div data-slick-index="2">
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">1</p>
                                <p class="Paragraph-Black-Bold PostItText">I send again the data by email or I create an account on Alkemics with a lot of frustration and with no desire to stay</p>
                            </div>
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">2</p>
                                <p class="Paragraph-Black-Bold PostItText">I click on a product that seems interesting but I want to know more before purshasing</p>
                            </div>
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">3</p>
                                <p class="Paragraph-Black-Bold PostItText">The product page is displayed but I only see few information but not the list of ingredients or how to prepare it…</p>
                            </div>
                            <div class="PostIt">
                                <p class="Paragraph-Black-Bold PostItNumber">4</p>
                                <p class="Paragraph-Black-Bold PostItText">I finally decide to close the product page, or even close the website because it doesn’t make me feel enough confident</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Screen 7 - Sketch -->
            <div data-anchor="sketch" class="Fullscreen section">
                <div class="Screen Sketch">
                    <div class="CardSortingImage CardSortingImageBackgroung">
                    </div>
                    <div class="CardSortingText">
                        <p class="Paragraph-Black-Bold">Card sorting</p>
                        <p>
                            I wrote important data on post-its. At the end, we grouped them into <strong>11 themes</strong>.
                        </p>
                    </div>
                    <div class="SketchZoningText">
                        <p class="Paragraph-Black-Bold">Sketch, Zoning</p>
                        <p>
                            The team took the time to sketch a lot of ideas.
                        </p>
                    </div>
                    <div class="SketchZoningImage">
                        <div class="SketchImage SketchImageBackgroung">
                        </div>
                        <div class="ZoningImage ZoningImageBackgroung">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Screen 8 - Prototyping -->
            <div data-anchor="prototyping" class="Fullscreen section">
                <div class="Screen Prototyping">
                    <div class="Half Half--left HPPFullBackground">
                    </div>
                    <div class="Half Half--right Half--rightWithMargin">
                        <p>Brainstorming, Sketching, Prototyping</p>
                        <h3 class="h3-Black">An iframe to push the data as its best</h3>
                        <p>
                            The technical constraints give us a part of the solution.
                            <br/>
                            To keep it simple, without having to put our hands in every partners systems, we decided to push data directly to the e-commerce website thanks to an iframe.
                            <br/>
                            It allows to:
                            <ol>
                                <li>Let the Retailer product page header as it is (we were not authorized to access to price and logistical data at this time), and add our content after this part</li>
                                <li>Make sure that the mandatory information are easy-to-find for the end-consumer</li>
                                <li>Display marketing and brand content in a fun and easy-to-understand way</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Screen 9 - Launch -->
            <div data-anchor="launch" class="Fullscreen section">
                <div class="Screen Launch">
                    <div class="Top Top--small Center Center--narrow">
                        <p>Ready to launch</p>
                        <h3 class="h3-White">Hosted product page available in real-time</h3>
                    </div>
                    <div class="Bottom Bottom--large Center Result Result--HPP">
                    </div>
                    <div class="Footnote Paragraph-White">
                        <a target="_blank" href="http://www.auchandrive.com">View it online (auchandrive.com)</a>
                    </div>
                </div>
            </div>
            <!-- Screen 10 - Results -->
            <div data-anchor="results" class="Fullscreen section">
                <div class="Screen Results">
                    <div class="Top Top--small Center Center--narrow">
                        <p>Results</p>
                        <h3 class="h3-Black">Right in the target</h3>
                        <br>
                        <h5 class="h5-Black">How do I know that it’s a success?
                            <br/>Here are the main KPIs we follow.</h5>
                    </div>
                    <div class="Bottom Bottom--large Center Results__content">
                        <div class="Result__content">
                            <i class="mdi mdi-arrow-down"></i>
                            <p class="Paragraph-Black-Bold CircleBackground">Decrease the number of fines</p>
                            <p>Our first partner confirms us that the number of fines decreased quickly*</p>
                        </div>
                        <div class="Result__content">
                            <i class="mdi mdi-arrow-up"></i>
                            <p class="Paragraph-Black-Bold CircleBackground">Increase the retention</p>
                            <p>Adding value on the Brands side help us retain users on Alkemics platform*</p>
                        </div>
                        <div class="Result__content">
                            <i class="mdi mdi-thumb-up-outline"></i>
                            <p class="Paragraph-Black-Bold CircleBackground">Delight end-consumers #AWARDS</p>
                            <p>Our work is awarded and many articles appeared in the specialized press</p>
                        </div>
                    </div>
                    <div class="Footnote">*Sorry, numbers are subject to confidentiality</div>
                </div>
            </div>
            <!-- Screen 11 - Awards -->
            <div data-anchor="awards" class="Fullscreen section">
                <div class="Screen Awards">
                    <div class="Top Top--left AwardsPicture AwardsBackground">

                    </div>
                    <div class="AwardsText">
                        <p class="Paragraph-Black-Bold">2 Awards won</p>
                        <p>
                            Linéaires Award « Le qualiscope des drives » in 2015 & LSA Category Management Award in 2016
                        </p>
                    </div>
                    <div class="PressCoverageWrapper">
                        <p class="PressCoverage">They talked bout us!</p>
                    </div>
                    <div class="PressLesEchosText">
                        <p class="Paragraph-Black-Bold">Many articles in the press</p>
                        <p>
                            LesEchos.fr, LSA, Linéaires…
                            <br/>
                            Links on Alkemics website
                        </p>
                    </div>
                    <div class="PressLesEchos PressBackground">
                    </div>
                </div>
            </div>
            <!-- Screen 12 - Retrospective -->
            <div data-anchor="retrospective" class="Fullscreen section">
                <div class="Screen Retrospective">
                    <div class="Full-height Full-height--narrow Center">
                        <p class="Paragraph-White">Retrospective</p>
                        <h3 class="h3-White">Be a constant learner.</h3>
                        <h5 class="h5-White">
                            This side-project became a killer feature.
                            <br/>
                            It helps the product and the business growing.
                            <br/>
                            <br/>
                        </h5>
                        <p class="Paragraph-White">
                            We did a great work in a minimum amount of time. The low priority project became an important part of the business. Thinking about what I could do better, I would say spending time to do some guerilla test but moslty thinking to the expected variations and minimize customization: each retailer wanted specific icons, colors and fonts to respect their own e-commerce website guidelines.
                            <br/>
                            <br/>
                            Next time, I will test ideas and obviously be more careful with the feature expectations like personnalization to anticipate the come up evolution.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% include scripts.html %}
    </body>
</html>
